@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400|Inter:500|Inter:600');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
      --text: #292929;
      --background: #f0f0f0;
      --primary: #5f58c0;
      --secondary: #9C92C7;
      --accent: #e1dfff;

    }
    .dark {
      --text: #d6d6d6;
      --background: #0f0f0f;
      --primary: #5f58c0;
      --secondary: #9C92C7;
      --accent: #e1dfff;
    }
  }
  

  html{
    background-color: var(--background);
  }